html {
  margin: 10px;
}

.detailTable {
  font-size: 1rem;
}

.detailTable .detailItem {
  font-weight: 500;
}

.launchDetails {
  margin: auto;
}

.loading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
